<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh; background-color: #f8f9fa;">
    <div class="p-3 w-100" style="max-width: 600px;">
      <h4 class="text-center mb-3">انشاء تذكرة جديدة</h4>
      <div class="p-3" style="background-color: #81daca65; border-radius: 10px;">
        <form (ngSubmit)="submitTicket()">
          <div class="mb-2">
            <label class="form-label">عنوان</label>
            <input type="text" class="form-control" [(ngModel)]="ticket.Title" name="title" required />
          </div>
  
          <div class="mb-2">
            <label class="form-label">وصف</label>
            <textarea class="form-control" [(ngModel)]="ticket.Description" name="description" required rows="3"></textarea>
          </div>
  
          <div class="mb-2">
            <label class="form-label">نوع</label>
            <select class="form-control" [(ngModel)]="ticket.CategoryId" name="categoryId">
              <option [value]="1">خطأ</option>
              <option [value]="2">ميزة جديدة</option>
              <option [value]="3">افتراح</option>
            </select>
          </div>
  
          <div class="mb-2">
            <label class="form-label">الاولوية</label>
            <select class="form-control" [(ngModel)]="ticket.Priority" name="priority">
              <option value="0">منخفضة</option>
              <option value="1">متوسط</option>
              <option value="2">عالية</option>
            </select>
          </div>
  
          <div class="mb-3">
            <label class="form-label">ملحقات</label>
            <input type="file" class="form-control" (change)="onFileSelected($event)" multiple />
          </div>
  
          <div class="text-center">
            <button type="submit" class="btn px-4 py-2" style="background-color: #005451; color: white;">انشاء</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  