header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2563eb; /* Tailwind's blue-600 */
    color: white;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    filter: brightness(1.1);
  }
  .active {
    font-weight: bold;
    border-bottom: 2px solid rgb(255, 255, 255);
  }
  